@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@300;400;600;700;900&family=Noto+Sans+JP:wght@400;700&family=Nunito:wght@400;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto&family=Roboto+Mono:wght@700&display=swap");

:root {
  --primary-text: #3e3f43;
  --secondary-text: rgba(34, 34, 34, 0.1);
  --navbar-text: rgba(34, 34, 34, 0.75);
  --primary-btn: #daa520;
  --primary-bg: #f9bdbd;
  --secondary-bg: #f7dea6;
  --third-bg: #a8dcec;
}
body {
  font-family: Nunito, Quicksand, Roboto, monospace;
  display: flex;
  flex-direction: column;
  gap: 120px;
  color: var(--primary-text) !important;
  background: url(/img/home_img_2.svg) -68px 95% no-repeat;
}
section {
  margin: 0 100px;
}
.navbar .navbar-brand {
  margin-left: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.25em;
  color: var(--primary-text);
  text-decoration: none;
}
.navbar .navbar-brand:hover {
  color: var(--primary-btn);
  transition: ease-out 0.2s;
}
.navbar-nav > .nav-item {
  margin-left: 23px;
  margin-right: 23px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--primary-btn) !important;
  font-weight: 800;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--primary-btn) !important;
}
.secondary-button {
  border: 1px solid var(--primary-text);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 700;
  line-height: 22px;
  color: var(--primary-text);
  padding: 0.5rem 1.5rem;
}
.secondary-button:hover {
  color: var(--primary-btn);
  border-color: var(--primary-btn);
}

.primary-button {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-btn);
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 0.7rem 1.7rem;
}
.primary-button:hover {
  color: var(--primary-btn);
  background-color: transparent;
  border: 1px solid var(--primary-btn);
  transition: ease-out 0.2s;
}

.pink-image {
  right: 0;
  position: absolute;
  width: 370px;
  height: 800px;
  background-color: var(--primary-bg);
  border-bottom-left-radius: 150px;
}

.section-title {
  display: flex;
  align-items: center;
}
.subtitle {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 36px;
  font-weight: 700;
}
.title {
  margin-left: 0.5em;
  font-size: 72px;
  color: var(--secondary-text);
  font-weight: 800;
}
.title-line {
  border: 1px solid #000000;
  width: 55%;
}
/* HOME SECTION */
.home-container {
  margin-right: 0;
  background: url(./img/home_img_1.png) right top no-repeat, url(/img/home_img_2.svg) 83% 90% no-repeat;
  z-index: 1;
  height: 65vh;
}

.home-description {
  width: 500px;
}
.description {
  font-size: 36px;
}
.home-title {
  font-size: 72px;
  font-weight: 700;
  color: #313235;
}

/* About Us SECTION */
.about-us-container {
  position: relative;
  font-weight: 600px;
  font-size: 24px;
  margin-right: 0;
  background: url(./img/who_we_are_section.png) 2.5% 40% no-repeat, url(./img/about_us_img_2.png) right bottom no-repeat;

  height: 90vh;
}
.about-us-description-right {
  width: 480px;
  float: right;
  margin-right: 100px;
  margin-top: 150px;
}
.about-us-description-left {
  margin-top: 30%;
  width: 650px;
}
.yellow-container {
  z-index: -1;
  position: absolute;
  width: 280px;
  height: 400px;
  background-color: var(--secondary-bg);
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

/*
<section class="about-us-container">
      <div class="section-title">
        <img src="./img/logo.svg" alt="" />
        <p class="subtitle">Who we are</p>
        <div class="title-line"></div>
        <p class="title">ABOUT US</p>
      </div>
      <div class="section-description">
        <p class="description-subtitle"><strong> WOODIES</strong> is the <strong>home of modern wooden furniture</strong></p>
        <p class="description">the answer to your need for furniture with shapes, sizes and colors.</p>
        <p class="text-black">Customized furniture <strong> made just for you</strong></p>
        <p>Get it easy to adjust furniture to the shape and size of your dwelling or business.</p>
      </div>
    </section>
*/
